.home-menu{
  width: 100%;
}
.menu-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7em;
  width: 100%;
  background-color: rgb(184, 241, 255);
}
.menu-item{
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-color: rgb(54, 194, 36);
}
.card-body{
  padding: 0;
}
.shop-item{
  height: 10em;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
}
/* 重写 Ant ListView 样式 */
.am-list-view-scrollview-content{
  width: 100%;
}
.shopList-item__thumb{
  height: 8em;
  width: 8em;
}
.shop-item__img{
  height: 100%;
  width: 100%;
}
.shopList-item{
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0.5em;
  overflow: hidden;
}
.shopList-item__content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5em 0 1em;
  overflow-x: hidden;
}
.shopList-item__thumb{
  width: 8em;
  height: 8em;
}
.shopList-item__thumb-img{
  width: 8em;
  height: 8em;
}
.shopList-item__content-title{
  width: 100%;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shopList-item__content-address{
  width: 100%;
  font-size: 0.8em;
  margin-top: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shopList-item__content-tags{
  margin-top: 1em;
}
.shopList-item__content-tags__dl{
  height: 1em;
  margin: 0;
}
.shopList-item__content-tags__dd{
  margin: 0;
  float: left;
  list-style: none;
  font-size: 0.8em;
  padding-right: 0.5em;
}
.shopList-item__content-tags__dl>.shopList-item__content-tags__dd:not(:nth-child(1)){
  padding-left: 0.5em;
  border-left: 1px solid rgba(187, 187, 187, 1);
}
