.cart-layout{
  width: 100%;
  /* overflow: hidden; */
}
.cart-main{
  width: 100%;
}
.cart-flow{
  width: 100%;
  padding: 0.8em;
}
.cart-item{
  width: 100%;
  background-color: #ffffff;
}
.cart-flow>.cart-item:not(:nth-child(1)){
  margin-top: 0.8em;
}
.cart-item__shop{
  width: 100%;
  height: 3.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.cart-item__edit{
  height: 100%;
  width: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 0;
  align-items: center;
}
.cart-item__edit-item{
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item__edit-item__check-icon{
  width: 1.28em;
  height: 1.28em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(170, 170, 170);
}
.cart-item__edit-item__check-icon__check{
  background-color: #5ebcff;
  border: none;
}
.cart-item__edit-item__delete-icon{
  color: rgb(170, 170, 170);
}
.cart-item__shop-info{
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  margin-left: 0.5em;
  align-items: center;
  overflow-x: hidden;
}
.cart-item__shop-info__name{
  font-size: 1.2em;
  /* 此处不能使用 flex 布局，否则文字隐藏失效 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart-item__shop-info__into{
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-item__goods{
  width: 100%;
  overflow: hidden;
}
.cart-item__goods-item{
  height: 8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
}
.cart-item__goods-main{
  width: 100%;
  height: 7em;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.cart-item__goods-thumb{
  height: 7em;
  width: 7em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.cart-item__goods-thumb__img{
  height: 6em;
  width: 6em;
}
.cart-item__goods-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top:0.5em;
  padding-bottom:0.5em;
  overflow: hidden;
}
.cart-item__goods-content__top{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.cart-item__goods-content__name{
  width: 100%;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cart-item__goods-content__middle{
  width: 100%;
}
.cart-item__goods-content__bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-item__goods-content__quantity-text{
  font-size: 1.2em;
}
.cart-item__goods-content__price-text{
  font-size: 1.2em;
}
.cart-item__action{
  border-top: 1px solid #ddd;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart-item__action-clear{
  margin-left: 1em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item__action-clear__btn{
  padding: 0 1em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #108ee9;
  border-radius: 1.25em;
}
.cart-item__action-settlement{
  width: auto;
  height: 2.5em;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}
.cart-item__action-settlement__text{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em 0 0.8em;
  font-size: 1.1em;
  background-color: #8aceff;
  color: rgb(255, 38, 0);
  border-radius: 1.5em 0 0 1.5em;
}
.cart-item__action-settlement__text-money{
  font-size: 1.2em;
}
.cart-item__action-settlement__btn{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8em 0 0.5em;
  font-size: 1.2em;
  background-color: #108ee9;
  border-radius: 0 1.5em 1.5em 0;
}

